.logo {
    height: 30px;
}

.padding-top-30 {
    padding-top: 30px;
}

.hight-foot-70 {
    height: 70px;
}

.sub-topbar {
    position: fixed;
    z-index: 1000;
    top: 50px;
    width: 100%;
}


/* uk-slider */

.slider {
    border-bottom: #4c4c4c1f 1px solid;
    height: 35px;
    background-color: white;
    width: -webkit-fill-available;
}

.uk-slider-items-list {
    padding: 15px 10px !important;
    height: 35px;
    color: #696969fc;
    display: flex;
    align-items: center;
}

.items-active {
    color: #460000;
    font-weight: 400 !important;
    border-bottom: #9d2e2e 2px solid;
}

.uk-dropdown-nav>.items-active {
    color: #460000 !important;
    font-weight: 400 !important;
    border-bottom: #9d2e2e 0px solid;
}

.uk-dropdown-nav>.items-active>.uk-nav-divider {
    border-top: 1px solid #9d2e2e !important;
}

.icon-more {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-left: #4c4c4c1f 1px solid;
    width: 40px;
}


/* uk-slider */


/* book */

.margin-book {
    margin: 15px 15px 15px 0px!important
}

.margin-sub-topbar {
    margin: 45px 0px 15px 0px!important
}

.title-book {
    font-size: 12px;
    color: #9d2e2e !important;
    font-weight: 400 !important;
    margin-top: 5px;
}

.subtitle-book {
    font-size: 10px;
    color: #635f5f;
    margin-top: -5px;
}


/* book */